---
import { Icon } from 'astro-icon/components';

export interface Props {
    title: string;
    name: string;
    email: string;
}
const { title, name, email } = Astro.props;
---

<div class="board-member">
    <p>
        {title}
        {name}<br />
        <a href={`mailto:${email}`}
            ><Icon name="solar:letter-linear" /> {email}</a
        >
    </p>
</div>

<style>
    .board-member {
        margin-bottom: 1em;
    }
    a {
        color: var(--colors-text-linkContrast);
    }
</style>
