---
import { ThemedText } from '@/atoms';
import EventBenefit from './EventBenefit.astro';
import EventBenefitContact from './EventBenefitContact.astro';

interface Props {
    eventName: string;
    benefits: Array<{ text: string; imgPath: string }>;
}

const { eventName, benefits } = Astro.props;
---

<div class="event-benefits-carousel">
    <ThemedText variant="h2">{eventName}</ThemedText>
    <div class="keen-slider" id="event-benefits-carousel">
        {
            benefits.map(benefit => (
                <div class="keen-slider__slide">
                    <EventBenefit {...benefit} />
                </div>
            ))
        }
        <div class="keen-slider__slide">
            <EventBenefitContact
                text="W celu uzyskania pełnej oferty akcji, zapraszamy do kontaktu z koordynatorem."
                coordinatorEmail="email@iaeste.pl"
                buttonMessage="Skontaktuj się z koordynatorem akcji"
            />
        </div>
    </div>
</div>

<script>
    import KeenSlider from 'keen-slider';
    import { WheelControls } from '@/utils/wheelControls';

    if (document.getElementById('event-benefits-carousel') !== null) {
        const slider = new KeenSlider(
            '#event-benefits-carousel',
            {
                mode: 'free-snap',
                dragSpeed: 0.8,
                renderMode: 'performance',
                slides: {
                    perView: 'auto',
                    spacing: 32,
                },
            },
            [WheelControls]
        );
    }
</script>

<style>
    .event-benefits-carousel {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }

    .keen-slider {
        overflow: visible !important;
    }

    .keen-slider__slide {
        overflow: visible !important;
        min-width: fit-content;
        max-width: fit-content;
    }
</style>
