---
import { ThemedText } from '@/atoms';
import { Image } from 'astro:assets';

interface Props {
    imgPath: string;
    text: string;
}

const { imgPath, text } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
    '/src/assets/icons/*.svg'
);
---

<div class="event-benefit">
    <Image
        class="benefit-image"
        src={images[imgPath]()}
        alt={'decorative image'}
    />
    <ThemedText variant="h6">{text}</ThemedText>
</div>

<style>
    .event-benefit {
        display: flex;
        gap: var(--spacing-sm);
        padding: var(--spacing-md);
        align-items: center;
        width: fit-content;
        border-radius: var(--borderRadius-default);
        background-color: var(--colors-background-secondary);
        border: var(--border);
        box-shadow: var(--shadows-default);
        box-sizing: border-box;
        text-align: center;
    }

    @media (max-width: 500px) {
        .benefit-image {
            display: block;
            margin-bottom: var(--spacing-xs);
        }

        .event-benefit {
            width: 110%;
            text-align: center;
            justify-content: center;
            flex-direction: column;
        }
    }

    @media (min-width: 500px) and (max-width: 700px) {
        .benefit-image {
            display: block;
            margin-bottom: var(--spacing-xs);
        }

        .event-benefit {
            width: 100%;
            text-align: center;
            justify-content: center;
            flex-direction: column;
        }
    }
</style>
