---
import { ThemedText } from '@/atoms';
import EventBenefit from './EventBenefit.astro';
import EventBenefitContact from './EventBenefitContact.astro';

interface Props {
    eventName: string;
    benefits: Array<{ text: string; imgPath: string }>;
}

const { eventName, benefits } = Astro.props;
---

<div class="event-benefits-grid">
    <ThemedText variant="h2">{eventName}</ThemedText>
    <div class="benefits-grid">
        {
            benefits.map(benefit => (
                <div class="benefit__slide">
                    <EventBenefit {...benefit} />
                </div>
            ))
        }
        <div class="benefit__slide">
            <div class="benefit__slide">
                <EventBenefitContact
                    text="W celu uzyskania pełnej oferty akcji"
                    coordinatorEmail="email@iaeste.pl"
                    buttonMessage="skontaktuj się z koordynatorem"
                />
            </div>
        </div>
    </div>
</div>
<style>
    .event-benefits-grid {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        width: 100%;
    }

    .benefits-grid {
        display: grid;
        gap: var(--spacing-md);
        grid-template-columns: repeat(4, minmax(250px, 300px));
        align-items: stretch;
        justify-content: center;
    }

    .benefit__slide {
        width: 100%;
        justify-content: center;
    }

    @media (max-width: 950px) {
        .benefits-grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            justify-content: center;
            margin-left: 0 !important;
            gap: var(--spacing-xs);
        }
    }
    @media (min-width: 950px) and (max-width: 1200px) {
        .benefits-grid {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            justify-content: center;
            margin-left: 0 !important;
            gap: var(--spacing-xs);
        }

        .benefit__slide:last-child {
            grid-column: span 3;
        }
    }
</style>
---
