---
import {
    getLangFromUrl,
    useTranslations,
    useTranslatedPath,
} from '../i18n/utils';
import logo from '@/assets/IAESTE_AGH_Horizontal.png';
import { ThemedLink } from '@/atoms';
import { Image } from 'astro:assets';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav id="navbar">
    <a href={translatePath('/')}>
        <Image id="logo" src={logo} alt={'iaeste logo'} />
    </a>
    <div id="links">
        <ThemedLink href={translatePath('/exchange')}>
            {t('nav.exchange')}
        </ThemedLink>
        <ThemedLink href={translatePath('/companies')}>
            {t('nav.forCompanies')}
        </ThemedLink>
        <ThemedLink href={translatePath('/contact')}>
            {t('nav.contact')}
        </ThemedLink>
    </div>
</nav>

<style>
    #logo {
        --logo-size: 50px;
        height: var(--logo-size);
        width: auto;
        transition: height 0.1s ease;
    }

    #navbar {
        border: var(--border);
        box-shadow: var(--shadows-default);
        border-radius: var(--borderRadius-default);
        color: var(--colors-accent-primary);
        padding: 24px 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--colors-background-primary);
        position: sticky;
        top: 4px;
        background-color: var(--colors-background-primary);
        z-index: 100;
    }

    #links {
        display: flex;
        gap: 24px;
        align-items: center;
        white-space: nowrap;
    }

    @media (max-width: 768px) {
        #navbar {
            flex-direction: column;
            text-align: center;
        }
    }
</style>

<script>
    document.onscroll = () => {
        const logo = document.getElementById('logo');

        if (window.scrollY > 0) {
            logo!.style.setProperty('--logo-size', '30px');
        } else {
            logo!.style.setProperty('--logo-size', '50px');
        }
    };
</script>
