---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { ThemedText } from '@/atoms';
import { Icon } from 'astro-icon/components';

interface Props {
    company: string;
    comment: string;
    rating: 0 | 1 | 2 | 3 | 4 | 5;
    imgPath: keyof typeof images;
}

const { company, comment, rating, imgPath } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
    '/src/assets/company-logos/*.{jpg,png,svg}'
);

// Generate an array of star states (true for full, false for outline)
const stars = Array(5)
    .fill(false)
    .map((_, i) => i < rating);
---

<div id="opinion-card">
    <div id="upper-part">
        <ThemedText variant="quote">&#x201C;{comment}&#x201D;</ThemedText>
    </div>
    <div id="lower-part">
        <Image src={images[imgPath]()} alt="Company logo" />
        <div id="rating-section">
            <ThemedText variant="h5" bold toRight>{company}</ThemedText>
            <div id="stars">
                {
                    stars.map(star =>
                        star ? (
                            <Icon
                                name={'solar:star-bold'}
                                height={24}
                                width={24}
                            />
                        ) : (
                            <Icon
                                name={'solar:star-linear'}
                                height={24}
                                width={24}
                            />
                        )
                    )
                }
            </div>
        </div>
    </div>
</div>

<style>
    #opinion-card {
        display: flex;
        flex-direction: column;
        border: var(--border);
        border-radius: var(--borderRadius-default);
        width: 555px;
        overflow: hidden;
        transition: box-shadow 0.2s ease;
        height: 100%;
    }

    #opinion-card:hover {
        box-shadow: var(--shadows-default);
    }

    #upper-part {
        background-color: var(--colors-background-secondary);
        padding: var(--spacing-default);
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #upper-part p {
        font-size: var(--spacing-default);
        line-break: auto;
        text-align: center;
    }

    #lower-part {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: var(--spacing-default) var(--spacing-default);
        background-color: var(--colors-background-accent);
        margin: 0;
    }

    #rating-section {
        display: flex;
        flex-direction: column;
    }

    #stars {
        display: flex;
        flex-direction: row;
        gap: 9px;
        color: var(--colors-accent-secondary);
    }
</style>
