---
import type { KeenSliderOptions } from 'keen-slider';

const PARTNERS = [
    'https://freelogopng.com/images/all_img/1657952217google-logo-png.png',
    'https://freelogopng.com/images/all_img/1657952217google-logo-png.png',
    'https://freelogopng.com/images/all_img/1657952217google-logo-png.png',
    'https://freelogopng.com/images/all_img/1657952217google-logo-png.png',
    'https://freelogopng.com/images/all_img/1657952217google-logo-png.png',
    'https://freelogopng.com/images/all_img/1657952217google-logo-png.png',
    'https://freelogopng.com/images/all_img/1657952217google-logo-png.png',
    'https://freelogopng.com/images/all_img/1657952217google-logo-png.png',
];

interface Props {
    rtl?: boolean;
}

const { rtl = false } = Astro.props;
---

<div id="partners_carousel" class="keen-slider" data-rtl={`${rtl}`}>
    {
        PARTNERS.map(partner => (
            <div class="keen-slider__slide">
                <img src={partner} alt="partner" />
            </div>
        ))
    }
</div>

<script>
    import { WheelControls } from '@/utils/wheelControls';
    import type { KeenSliderOptions } from 'keen-slider';
    import KeenSlider from 'keen-slider';

    const animation = { duration: 30000, easing: (t: number) => t };

    const options: KeenSliderOptions = {
        loop: true,
        renderMode: 'performance',
        rtl: false,
        drag: true,
        mode: 'free',
        defaultAnimation: animation,
        slides: {
            perView: () => (window.innerWidth - 160) / 480,
            spacing: 32,
        },
        created(s) {
            s.moveToIdx(s.track.details.slidesLength, true);
        },
        updated(s) {
            s.moveToIdx(
                s.track.details.abs + s.track.details.slidesLength,
                true
            );
        },
        animationEnded(s) {
            s.moveToIdx(
                s.track.details.abs + s.track.details.slidesLength,
                true
            );
        },
    };

    const sliders =
        document.querySelectorAll<HTMLElement>('#partners_carousel');
    sliders.forEach(
        slider =>
            new KeenSlider(
                slider,
                {
                    ...options,
                    rtl: slider.dataset.rtl === 'true',
                },
                [WheelControls]
            )
    );
</script>

<style>
    .keen-slider__slide {
        height: 268px;
        border: var(--border);
        border-radius: var(--borderRadius-default);
        padding: var(--spacing-xs);
        transition: box-shadow 0.2s ease;
    }

    .keen-slider__slide:hover {
        box-shadow: var(--shadows-default);
    }

    .keen-slider__slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .keen-slider {
        overflow: visible !important;
    }
</style>
