---
import { ThemedText } from '@/atoms';
import { Image } from 'astro:assets';

interface Props {
    imgPath: string;
    title: string;
    text: string;
    informative: boolean;
}
---

<div>
    <Image />
    <ThemedText />
</div>
