---
import SocialSection from './SocialSection.astro';
import CopyrightSection from './CopyrightSection.astro';
---

<div class="footer-bottom">
	<CopyrightSection />
	<SocialSection />
</div>

<style>
	.footer-bottom {
		display: flex;
		justify-content: space-between;
	}

	@media (max-width: 768px) {
		.footer-bottom {
			flex-direction: column-reverse;
			gap: var(--spacing-sm);
		}
	}
</style>
