:root {
  --carousel-border: 3px solid #ddd;
  --carousel-spacing: 20px;
}

.App {
  margin-top: 64px;
  padding: 16px;
  box-sizing: border-box;
}

.text {
  font-size: 48px;
  font-weight: bold;
  color: var(--colors-text-default, #000);
}

.carousel img {
  width: 75%;
  border: var(--carousel-border);
  border-radius: 16px;
  padding: var(--carousel-spacing);
  box-shadow: 16px 32px 21px 0px rgba(163, 163, 163, 0.05);
}

