---
import type { Color, TextVariant } from '@/types';
import ThemedText from './ThemedText.astro';

type Props = {
	href: string;
	children: string | HTMLElement | HTMLElement[];
	asButton?: boolean;
	isBold?: boolean;
	variant?: TextVariant;
	color?: Color;
};

const { href, asButton = false, isBold, variant, color } = Astro.props;
---

<a href={href} class:list={[{ button: asButton }, { link: !asButton }]}>
	<ThemedText variant={variant} isBold={isBold} color={color}>
		<slot name="beforeIcon" slot="beforeIcon" />
		<slot />
		<slot name="afterIcon" slot="afterIcon" />
	</ThemedText>
</a>

<style define:vars={{ 'colors-text-link': color }}></style>
