---
import type { TextVariant } from '@/types';
import ThemedText from './ThemedText.astro';

type Props = {
	href: string;
	children: string;
	asButton?: boolean;
	isBold?: boolean;
	variant?: TextVariant;
	afterIcon?: HTMLElement;
};

const { href, asButton = false, isBold, variant, afterIcon } = Astro.props;
---

<a href={href} class:list={[{ button: asButton }, { link: !asButton }]}>
	<ThemedText variant={variant} isBold={isBold} afterIcon={afterIcon}>
		<slot />
	</ThemedText>
</a>
