---
import { Icon } from 'astro-icon/components';

export interface Props {
    email: string;
}
const { email } = Astro.props;
---

<div class="email-link">
    <Icon name="solar:letter-linear" />
    <a href={`mailto:${email}`}> {email}</a>
</div>

<style>
    a {
        color: var(--colors-text-linkContrast);
    }

    .email-link {
        display: flex;
        align-items: center;
        gap: 10px;
    }
</style>
