---
import { ThemedText } from '@/atoms';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const url = new URL(Astro.request.url);
const lang = getLangFromUrl(url);
const t = useTranslations(lang);
---

<div class="footer-invoice-section">
	<ThemedText isBold color="var(--colors-text-contrast)">
		{t('footer.invoice.title')}
	</ThemedText>

	<ThemedText>Stowarzyszenie IAESTE Polska</ThemedText>
	<ThemedText>ul. Waryńskiego 6/41</ThemedText>
	<ThemedText>00-631 Warszawa</ThemedText>
	<ThemedText>KRS: 0000253557</ThemedText>
	<ThemedText>NIP: 701-00-27-381</ThemedText>
	<ThemedText>REGON: 140496053</ThemedText>
</div>
