---
import { ThemedSection, ThemedText } from '@/atoms';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { CoordinatorCard } from '@/molecules';

const COORDINATORS = [
    {
        title: 'IAESTE CaseWeek',
        name: 'Imię i Nazwisko',
        phone: '+48 123 456 789',
        email: 'imie.nazwisko@iaeste.pl',
    },
    {
        title: 'Level Up Your Skills',
        name: 'Imię i Nazwisko',
        phone: '+48 123 456 789',
        email: 'imie.nazwisko@iaeste.pl',
    },
    {
        title: 'Proces Pozyskiwania Praktyk',
        name: 'Imię i Nazwisko',
        phone: '+48 123 456 789',
        email: 'imie.nazwisko@iaeste.pl',
    },
    {
        title: 'Wiosenna Akcja Rekrutacyjna',
        name: 'Imię i Nazwisko',
        phone: '+48 123 456 789',
        email: 'imie.nazwisko@iaeste.pl',
    },
];

const MANAGEMENT = [
    {
        title: 'Prezes',
        name: 'Imię i Nazwisko',
        phone: '+48 123 456 789',
        email: 'imie.nazwisko@iaeste.pl',
    },
    {
        title: 'Wiceprezes',
        name: 'Imię i Nazwisko',
        phone: '+48 123 456 789',
        email: 'imie.nazwisko@iaeste.pl',
    },
    {
        title: 'Skarbnik',
        name: 'Imię i Nazwisko',
        phone: '+48 123 456 789',
        email: 'imie.nazwisko@iaeste.pl',
    },
    {
        title: 'I Członek Zarządu',
        name: 'Imię i Nazwisko',
        phone: '+48 123 456 789',
        email: 'imie.nazwisko@iaeste.pl',
    },
    {
        title: 'II Członek Zarządu',
        name: 'Imię i Nazwisko',
        phone: '+48 123 456 789',
        email: 'imie.nazwisko@iaeste.pl',
    },
];

const url = new URL(Astro.request.url);
const lang = getLangFromUrl(url);
const t = useTranslations(lang);
---

<ThemedSection title={t('section.companyContact')}>
    <div class="slider-section">
        <ThemedText variant="h3">{t('companyContact.management')}</ThemedText>
        <div id="management-slider" class="keen-slider">
            {
                MANAGEMENT.map(contact => (
                    <div class="keen-slider__slide keen-slider__slide-clickable">
                        <CoordinatorCard {...contact} />
                    </div>
                ))
            }
        </div>
    </div>
    <div class="slider-section">
        <ThemedText variant="h3">{t('companyContact.coordinators')}</ThemedText>
        <div id="coordinators-slider" class="keen-slider">
            {
                COORDINATORS.map(contact => (
                    <div class="keen-slider__slide keen-slider__slide-clickable">
                        <CoordinatorCard {...contact} />
                    </div>
                ))
            }
        </div>
    </div>
</ThemedSection>

<script>
    import KeenSlider from 'keen-slider';
    import { WheelControls } from '@/utils/wheelControls';

    const slider = new KeenSlider(
        '#coordinators-slider',
        {
            mode: 'free-snap',
            dragSpeed: 0.8,
            renderMode: 'performance',
            slides: {
                perView: 'auto',
                spacing: 32,
            },
        },
        [WheelControls]
    );

    const slider2 = new KeenSlider(
        '#management-slider',
        {
            mode: 'free-snap',
            dragSpeed: 0.8,
            renderMode: 'performance',
            slides: {
                perView: 'auto',
                spacing: 32,
            },
        },
        [WheelControls]
    );
</script>

<style>
    .slider-section {
        max-width: 100%;
        margin: 0 auto;
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .keen-slider__slide {
        min-width: fit-content;
        max-width: fit-content;
        overflow: visible !important;
    }

    .keen-slider {
        overflow: visible !important;
    }
</style>
