---
import { ThemedSection, ThemedText } from '@/atoms';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { CoordinatorCard } from '@/molecules';

const contacts = [
    {
        title: 'IAESTE CaseWeek',
        name: 'Imię i Nazwisko',
        phone: '+48 123 456 789',
        email: 'imie.nazwisko@iaeste.pl',
    },
    {
        title: 'Level Up Your Skills',
        name: 'Imię i Nazwisko',
        phone: '+48 123 456 789',
        email: 'imie.nazwisko@iaeste.pl',
    },
    {
        title: 'Proces Pozyskiwania Praktyk',
        name: 'Imię i Nazwisko',
        phone: '+48 123 456 789',
        email: 'imie.nazwisko@iaeste.pl',
    },
    {
        title: 'Wiosenna Akcja Rekrutacyjna',
        name: 'Imię i Nazwisko',
        phone: '+48 123 456 789',
        email: 'imie.nazwisko@iaeste.pl',
    },
];

const url = new URL(Astro.request.url);
const lang = getLangFromUrl(url);
const t = useTranslations(lang);
---

<ThemedSection title={t('section.companyContact')}>
    <div class="coordinators-section">
        <ThemedText variant="h1" bold
            >{t('companyContact.coordinators')}</ThemedText
        >
        <div class="coordinators-grid">
            {contacts.map(contact => <CoordinatorCard {...contact} />)}
        </div>
    </div>
</ThemedSection>

<style>
    .coordinators-section {
        max-width: 100%;
        margin: 0 auto;
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .coordinators-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--spacing-md);
    }
</style>
