---
/* Footer Component */
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import IaesteLogo from '../images/iaeste_agh_vertical_logo_1.svg';
import BoardMember from '@/molecules/BoardMember.astro';
---

<footer class="footer">
    <div class="footer-row footer-top">
        <div class="footer-logo">
            <Image src={IaesteLogo} alt="" class="my-class" />
        </div>
        <div class="footer-section">
            <h4>Komitet Lokalny IAESTE AGH Kraków</h4>
            <p>
                Adres korespondencyjny:<br />
                al. Mickiewicz 30,<br />
                30-059 Kraków<br />
                Adres siedziby:<br />
                Budynek U-6,<br />
                Władysława Reymonta 21A,<br />
                30-059 Kraków<br />
                <a href="mailto:iaeste@agh.edu.pl">iaeste@agh.edu.pl</a><br />
                +48 12 617 41 06
            </p>
        </div>

        <div class="footer-section">
            <h4>Dane do faktury</h4>
            <p>
                Stowarzyszenie IAESTE Polska<br />
                ul. Waryńskiego 6/41<br />
                00-631 Warszawa<br />
                KRS: 0000253557<br />
                NIP: 701-00-27-381<br />
                REGON: 140496053
            </p>
        </div>

        <div class="footer-section">
            <h4>Dokumenty</h4>
            <ul>
                <li><a href="#regulamin">Regulamin czegoś tam</a></li>
                <li><a href="#wniosek">Wniosek o cokolwiek</a></li>
                <li><a href="#kolejny">Kolejny regulamin czegoś tam</a></li>
            </ul>
            <h4>Przydatne linki</h4>
            <ul>
                <li><a href="#praktyki">Informacje o praktykach</a></li>
                <li>
                    <a href="#formularz">Formularz zgłoszeniowy na coś tam</a>
                </li>
                <li><a href="#rekrutacyjny">Formularz rekrutacyjny</a></li>
                <li><a href="#regulamin-link">Regulamin czegoś tam</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Kontakt do zarządu KL IAESTE AGH</h4>
            <BoardMember
                title="Prezes"
                name="Imię Nazwisko"
                email="imie.nazwisko@iaeste.pl"
            />
            <BoardMember
                title="Wiceprezes"
                name="Imię Nazwisko"
                email="imie.nazwisko@iaeste.pl"
            />
            <BoardMember
                title="Skarbnik"
                name="Imię Nazwisko"
                email="imie.nazwisko@iaeste.pl"
            />
        </div>
    </div>

    <div class="footer-row footer-bottom">
        <div class="footer-text">
            <p>&copy; 2024 Komitet Lokalny IAESTE AGH | By IAESTE AGH</p>
        </div>
        <div class="footer-social">
            <a href="https://facebook.com/iaeste.agh" target="_blank">
                <Icon name="facebook" />
                /iaeste.agh
            </a>
            <a href="https://instagram.com/iaeste_agh" target="_blank">
                <Icon name="instagram" />
                @iaeste_agh
            </a>
            <a href="https://linkedin.com/iaeste-agh" target="_blank">
                <Icon name="linkedin" />
                @iaeste-agh
            </a>
        </div>
    </div>
</footer>

<style>
    a {
        color: var(--colors-text-linkContrast);
    }
    footer {
        margin-top: auto;
        color: var(--colors-text-contrast);
        padding: 20px;
        display: grid;
        grid-template-rows: auto auto;
        row-gap: 1em;
        background: var(--colors-accent-primary);
    }

    /* First Row */
    .footer-top {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
        gap: 20px;
        text-align: left;
    }

    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .footer-logo img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .footer-section ul {
        list-style: none;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    @media (max-width: 768px) {
        .footer-top {
            grid-template-columns: 1fr;
        }

        .footer-bottom {
            flex-direction: column;
            align-items: flex-start;
        }

        .footer-social {
            margin-top: 10px;
        }
    }
</style>
