---
import { ThemedSection } from '@/atoms';
import Carousel from '@/atoms/Carousel';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import PartnersCarousel from '@/molecules/PartnersCarousel';

const url = new URL(Astro.request.url);
const lang = getLangFromUrl(url);
const t = useTranslations(lang);
---

<ThemedSection title={t('section.partners')}>
    <div class="wrapper">
        <PartnersCarousel client:load />
    </div>
</ThemedSection>

<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
</style>
