---
import { ThemedSection } from '@/atoms';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { SeasonSectionCard, ShortActionCard } from '@/molecules';

const url = new URL(Astro.request.url);
const lang = getLangFromUrl(url);
const t = useTranslations(lang);
---

<ThemedSection title={t('section.timeline')}>
    <div id="timeline-carousel" class="keen-slider">
        <div class="keen-slider__slide">
            <SeasonSectionCard season={t('timeline.spring')}>
                <ShortActionCard
                    imgPath="/src/assets/krowa.jpg"
                    title="IAESTE CaseWeek"
                    text="Lorem*30"
                />
                <ShortActionCard
                    imgPath="/src/assets/krowa.jpg"
                    title="IAESTE CaseWeek"
                    text="Lorem*30"
                    informative
                />
            </SeasonSectionCard>
        </div>
        <div class="keen-slider__slide">
            <SeasonSectionCard season={t('timeline.summer')}>
                <ShortActionCard
                    imgPath="/src/assets/krowa.jpg"
                    title="IAESTE CaseWeek"
                    text="Lorem*30"
                />
                <ShortActionCard
                    imgPath="/src/assets/krowa.jpg"
                    title="IAESTE CaseWeek"
                    text="Lorem*30"
                    informative
                />
            </SeasonSectionCard>
        </div>
        <div class="keen-slider__slide">
            <SeasonSectionCard season={t('timeline.autumn')}>
                <ShortActionCard
                    imgPath="/src/assets/krowa.jpg"
                    title="IAESTE CaseWeek"
                    text="Lorem*30"
                />
                <ShortActionCard
                    imgPath="/src/assets/krowa.jpg"
                    title="IAESTE CaseWeek"
                    text="Lorem*30"
                    informative
                />
            </SeasonSectionCard>
        </div>
        <div class="keen-slider__slide">
            <SeasonSectionCard season={t('timeline.winter')}>
                <ShortActionCard
                    imgPath="/src/assets/krowa.jpg"
                    title="IAESTE CaseWeek"
                    text="Lorem*30"
                />
                <ShortActionCard
                    imgPath="/src/assets/krowa.jpg"
                    title="IAESTE CaseWeek"
                    text="Lorem*30"
                    informative
                />
            </SeasonSectionCard>
        </div>
    </div>
</ThemedSection>

<script>
    import KeenSlider from 'keen-slider';
    import { WheelControls } from '@/utils/wheelControls';

    if (document.getElementById('timeline-carousel') !== null) {
        const slider = new KeenSlider(
            '#timeline-carousel',
            {
                renderMode: 'performance',
                rtl: false,
                drag: true,
                mode: 'free-snap',
                slides: {
                    perView: 'auto',
                },
            },
            [WheelControls]
        );
    }
</script>

<style>
    .keen-slider__slide {
        min-width: fit-content;
        max-width: fit-content;
        overflow: visible !important;
    }

    .keen-slider {
        overflow: visible !important;
    }
</style>
